<div class="h-full flex flex-col bg-[#22222260]">
  @if (this.chatId()) {
    <div class="messages border-b border-[#f5f5f51a] rounded h-9/10 p-5 overflow-auto">
      @for (message of this.messages(); track message.id) {
        <div class="mb-4">
          <div
            class="flex gap-2"
            [class]="message.user.id == this.userService.currentUser()?.id ? 'ms-auto w-fit' : ''"
          >
            <img
              src="{{ message.user.picture }}"
              alt=""
              class="w-5 h-5 rounded-full"
              [class]="message.user.id == this.userService.currentUser()?.id ? 'hidden' : ''"
            />
            <p class="text-sm">{{ message.user.username }}</p>
            <img
              src="{{ message.user.picture }}"
              alt=""
              class="w-5 h-5 rounded-full"
              [class]="message.user.id == this.userService.currentUser()?.id ? '' : 'hidden'"
            />
          </div>
          <p
            class="border border-[#868686aa] p-2 rounded w-fit mt-4"
            [class]="message.user.id == this.userService.currentUser()?.id ? 'ms-auto w-fit' : ''"
          >
            {{ message.content }}
          </p>
        </div>
      }
      @for (newChat of this.newChat(); track newChat.message.id) {
        @if (
          newChat.id.toString() == this.chatId() &&
          this.messages()?.every((message) => newChat.message.id != message.id)
        ) {
          <div class="mb-4">
            <div
              class="flex gap-2"
              [class]="
                newChat.message.user.id == this.userService.currentUser()?.id ? 'ms-auto w-fit' : ''
              "
            >
              <img
                src="{{ newChat.message.user.picture }}"
                alt=""
                class="w-5 h-5 rounded-full"
                [class]="
                  newChat.message.user.id == this.userService.currentUser()?.id ? 'hidden' : ''
                "
              />
              <p class="text-sm">{{ newChat.message.user.username }}</p>
              <img
                src="{{ newChat.message.user.picture }}"
                alt=""
                class="w-5 h-5 rounded-full"
                [class]="
                  newChat.message.user.id == this.userService.currentUser()?.id ? '' : 'hidden'
                "
              />
            </div>
            <p
              class="border border-[#868686aa] p-2 rounded w-fit mt-4"
              [class]="
                newChat.message.user.id == this.userService.currentUser()?.id ? 'ms-auto w-fit' : ''
              "
            >
              {{ newChat.message.content }}
            </p>
          </div>
          {{ scrollToBottom() }}
        }
      }
    </div>
    <form class="flex justify-center items-center h-1/10 gap-2 mt-2">
      <input
        type="text"
        class="border border-[#f5f5f51a] outline-none rounded p-2 w-4/5 focus:border-[#ffffff3f] autofill:bg-red-500!"
        [(ngModel)]="content"
        autocomplete="none"
        placeholder="Type a message"
        name="content"
      />
      <button
        class="border border-[#f5f5f51a] rounded p-2 cursor-pointer hover:border-[#ffffff3f] hover:text-blue-300"
        (click)="sendMessage(); $event.preventDefault()"
      >
        Send
      </button>
    </form>
  } @else {
    <div class="flex justify-center items-center h-full">
      <h1>Open one of your chats to start messaging</h1>
    </div>
  }
</div>
