<div class="w-screen h-screen flex items-center justify-center">
  @if (auth.isLoading$ | async) {
    <div class="loading-state">
      <div class="loading-text">Loading...</div>
    </div>
  }
  @if (auth.error$ | async; as error) {
    <div class="error-state">
      <div class="error-title">Oops!</div>
      <div class="error-message">Something went wrong</div>
      <div class="error-sub-message">{{ error.message }}</div>
    </div>
  }

  @if (!(auth.isLoading$ | async) && !(auth.error$ | async)) {
    @if (auth.isAuthenticated$ | async) {
      <div class="logged-in-section min-w-screen h-screen flex">
        <app-navbar />
        <main class="p-10">
          <router-outlet />
        </main>
      </div>
    } @else {
      <div
        class="w-2/5 h-3/5 bg-[#555] rounded-2xl p-5 border flex flex-col items-center justify-center"
      >
        <h1 class="text-2xl font-semibold">Chatter Up</h1>
        <p class="mt-1">Create new friends, and chat them up.</p>
        <p>Be the one to start the chat.</p>
        <app-login-button />
      </div>
    }
  }
</div>
